{% extends "lizard_map/wms.html" %}
{% load workspaces %}

{% block css %}
{{ block.super }}
<link rel="stylesheet"
      type="text/css"
      href="{{ STATIC_URL }}lizard_riool/lizard_riool.css" />
{% endblock css %}

{% block map-javascript %}
{{ block.super }}
<script type="text/javascript"
        src="{{ STATIC_URL }}lizard_riool/beheer.js"></script>
{% endblock map-javascript %}

{% block sidebar %}
<div class="sidebarbox sidebarbox-stretched">
  <h2 class="upload">Bestandsbeheer<span class="ss_sprite ss_add" rel="tipsy-south" title="Bestanden uploaden..."/></h2>
  <ul id="uploaded-files" class="without-bullets">
  {% include "lizard_riool/files.html" %}
  </ul>
</div>

{% endblock sidebar %}
