{% extends "lizard_map/wms.html" %}
{% load workspaces %}

{% block css %}
{{ block.super }}
<link rel="stylesheet"
      type="text/css"
      href="{{ STATIC_URL }}lizard_riool/lizard_riool.css" />
{% endblock css %}

{% block map-javascript %}
{{ block.super }}
<script type="text/javascript"
        src="{{ STATIC_URL }}lizard_riool/beheer.js"></script>
{% endblock map-javascript %}

{% block sidebar %}
<div class="sidebarbox sidebarbox-stretched">
  <h2 class="upload">Bestandsbeheer<span class="ss_sprite ss_add" rel="tipsy-south" title="Bestanden uploaden..."/></h2>
  <ul id="uploaded-files" class="without-bullets">
  {% for file in view.files %}
    <li class="no-workspace-acceptable"
        data-name="{{ file.filename }}"
      	data-adapter-class="lizard_riool_rmb_adapter"
  	    data-adapter-layer-json='{"id": "{{ file.pk }}"}'>
  	  {{ file.filename }}
  	  <span rel="tipsy" title="Verwijder bestand" class="ss_sprite ss_delete sidebarbox-action-icon delete hidden"></span>
  	  <span rel="tipsy" title="Download bestand" class="ss_sprite ss_disk sidebarbox-action-icon download hidden"></span>
  	</li>
  {% endfor %}
  </ul>
</div>

{% comment %}
{% for workspace in workspaces.user %}
{% workspace workspace %}
{% empty %}
No workspace
{% endfor %}
{% endcomment %}

{% workspace_edit view.workspace_edit %}
{% collage_edit view.collage_edit %}

{% endblock sidebar %}
