{% for file in view.files %}
  <li class="workspace-acceptable-look-alike"
      data-name="{{ file.filename }}"
      data-adapter-class="lizard_riool_rmb_adapter"
      data-adapter-layer-json='{"id": "{{ file.pk }}"}'>
    {{ file.filename }}
    <span rel="tipsy" title="Verwijder bestand" class="ss_sprite ss_delete sidebarbox-action-icon delete hidden"></span>
    {% if file.has_computed_percentages %}
    {% comment %}
    <span rel="tipsy" title="Download resultaten" class="ss_sprite ss_disk sidebarbox-action-icon download hidden"></span>
    <a rel="tipsy" title="Download resultaten" href="files/download/{{file.pk}}" class="ss_sprite ss_disk sidebarbox-action-icon download hidden"></a>
    {% endcomment %}
    {% endif %}
  </li>
{% endfor %}
