{% extends "lizard_map/wms.html" %}
{% load workspaces %}

{% block css %}
{{ block.super }}
<link rel="stylesheet"
      type="text/css"
      href="{{ STATIC_URL }}lizard_riool/lizard_riool.css" />
{% endblock css %}

{% block map-javascript %}
{{ block.super }}
<script type="text/javascript"
        src="{{ STATIC_URL }}lizard_riool/lost_capacity.js"></script>
{% endblock map-javascript %}

{% block sidebar %}
<div class="sidebarbox sidebarbox-stretched">
  <h2>Langsprofielen</h2>
  <ul class="without-bullets">
{% for file in view.files %}
{% if file.has_computed_percentages %}
  <li class="workspace-acceptable"
      data-name="{{ file.filename }}"
  	  data-adapter-class="lizard_riool_lost_capacity"
  	  data-adapter-layer-json='{"id": "{{ file.pk }}"}'>{{ file.filename }}</li>
{% else %}
  <li>{{ file.filename }} <img src="{{ STATIC_URL }}lizard_ui/ajax-loader.gif"></li>
{% endif %}
{% endfor %}
  </ul>
</div>
<div class="sidebarbox">
  <h2>Acties</h2>
  <div id="acties">
  	<button id="capacity">Bereken verloren berging</button>
  </div>
</div>

{% comment %}
{% for workspace in workspaces.user %}
{% workspace workspace %}
{% empty %}
No workspace
{% endfor %}
{% endcomment %}

{% workspace_edit view.workspace_edit %}
{% collage_edit view.collage_edit %}

{% endblock sidebar %}
