<div id="uploader">
  <p>You browser doesn't have HTML5, Flash, Silverlight, Gears, BrowserPlus or support.</p>
</div>

<script type="text/javascript">
// Convert div to queue widget when the DOM is ready
$(function () {
    $("#uploader").plupload({
        // General settings
        //runtimes : 'html5,flash,browserplus,silverlight,gears,html4',
        runtimes : 'html5,flash',
        url : '{% url upload_dialog_url %}',
        //max_file_size : '4mb',
        //max_file_count : 20, // user can add no more then 20 files at a time
        chunk_size : '50mb', // https://office.lizard.net/trac/ticket/3526
        unique_names : true,
        multiple_queues : true,

        //resize : {width : 320, height : 240, quality : 90},

        //headers : {'X-Requested-With' : 'XMLHttpRequest', 'X-CSRFToken' : '{{csrf_token}}'},
        headers : {'X-CSRFToken' : '{{ csrf_token }}'},

        // This will be used below to send the filename.
        multipart_params: {},

        // Rename files by clicking on their titles
        rename: true,

        // Sort files
        sortable: true,

        // Specify what files to browse for
        filters : [
            {title : "rioolinspectiebestanden", extensions : "rib"},
            {title : "rioolmeetbestanden", extensions : "rmb"}
        ],

        // Flash settings
        flash_swf_url : '{{ STATIC_URL }}plupload/js/plupload.flash.swf',

        // Silverlight settings
        silverlight_xap_url : '{{ STATIC_URL }}plupload/js/plupload.silverlight.xap'
    });

    // When sending a large file in chunks, the original filename is lost.
    // To have the client-side filename at the server, multipart_params
    // is used as a workaround. For small files, request.FILES['file']
    // also provides us with the filename.

    var uploader = $('#uploader').plupload('getUploader');
    uploader.bind('beforeUpload', function (u, f) {
        u.settings.multipart_params.filename = f.name;
    });

    // Client side form validation
    $('form').submit(function (e) {
        var uploader = $('#uploader').plupload('getUploader');

        // Files in queue upload them first
        if (uploader.files.length > 0) {
            // When all files are uploaded submit form
            uploader.bind('StateChanged', function () {
                if (uploader.files.length === (uploader.total.uploaded + uploader.total.failed)) {
                    $('form')[0].submit();
                }
            });

            uploader.start();
        } else {
            alert('You must at least upload one file.');
        }

        return false;
    });

    // Display error messages returned by the server
    uploader.bind('FileUploaded', function (up, file, response) {

        response = $.parseJSON(response.response);

        if (response.error) {
            up.trigger('Error', {
                code: plupload.GENERIC_ERROR,
                message: plupload.translate('Upload Error.'),
                details: response.error.details,
                file: file
            });
        }

    });

    //
    uploader.bind(
        'UploadComplete',
        beheer_functions.schedule_update_file_list); // Defined in beheer.js

});
</script>
