{% extends "lizard_map/wms.html" %}
{% load workspaces %}

{% block css %}
{{ block.super }}
<link rel="stylesheet"
      type="text/css"
      href="{{ STATIC_URL }}lizard_riool/lizard_riool.css" />
{% endblock css %}

{% block map-javascript %}
{{ block.super }}
<script type="text/javascript"
        src="{{ STATIC_URL }}lizard_riool/side_profile.js"></script>
{% endblock map-javascript %}

{% block sidebar %}
<div class="sidebarbox sidebarbox-stretched">
  <h2>Langsprofielen</h2>
  <ul class="without-bullets">
  {% include "lizard_riool/files.html" %}
  </ul>
</div>
<div class="sidebarbox">
  <h2>Acties</h2>
  <div id="acties">
  	<button id="route">Kies nieuwe route</button>
  	<button id="profile">Toon langsprofiel...</button>
  	<button id="byrman">Don't push this button...</button>
  </div>
</div>

{% comment %}
{% for workspace in workspaces.user %}
{% workspace workspace %}
{% empty %}
No workspace
{% endfor %}
{% endcomment %}

{% workspace_edit view.workspace_edit %}
{% collage_edit view.collage_edit %}

{% endblock sidebar %}
