.upload {
    cursor: pointer;
}

.upload .ss_sprite {
	float: right;
	margin: 4px;
}

.upload-dialog {
    background-image: url('/static_media/plupload/examples/bg.jpg') !important;
}

div#acties {
	margin: 8px 0;
}
