.upload h2 {
    cursor: pointer;
}

.upload .ss_sprite {
    float: right;
    cursor: pointer;
}
.upload h2 .ss_sprite {
    margin: 4px;
}
.upload li {
    clear: both;
}

#uploaded-files .delete,
#uploaded-files .download {
    cursor: pointer;
    float: right;
    margin-top: 5px;
}

.upload-dialog {
    background-image: url('/static_media/plupload/examples/bg.jpg') !important;
}

div#acties {
	margin: 8px 0;
}

.ajax-loader {
    background: url(/static_media/lizard_ui/ajax-loader.gif) no-repeat center center;
}

.ajax-loader img {
    display: block;
}

.hidden {
    display: none;
}

.workspace-acceptable-look-alike {
    /* cursor: pointer; */
    line-height: 2em;
    min-height: 2em;
}

